Source: dump1090-TheNogl
Section: embedded
Priority: extra
Maintainer: Patrick Nagelmaier <nagelmaier@gmail.com>
Build-Depends: debhelper(>=8), librtlsdr-dev, libusb-1.0-0-dev, pkg-config
Standards-Version: 3.9.3
Homepage: https://github.com/TheNogl/dump1090
Vcs-Git: https://github.com/TheNogl/dump1090.git

Package: dump1090-TheNogl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: python(>=2.5), cron | cron-daemon, curl
Suggests: lighttpd
Provides: fatsv-data-source
Description: ADS-B Ground Station System for RTL-SDR
 Networked Aviation Mode S / ADS-B decoder/translator with RTL-SDR software
 defined radio USB device support.
 .
 This is a packaging of the "TheNogl" fork of dump1090 that includes
 sampling at 2.4MHz, Heat- and Rangemap, dark-styled webpage and other improvements.
